-- CreateEnum
CREATE TYPE "ContactStatus" AS ENUM ('ACTUAL', 'FUTURO', 'HISTORICO');

-- CreateEnum
CREATE TYPE "Language" AS ENUM ('ES', 'EN', 'DE', 'FR', 'IT', 'PT');

-- CreateTable
CREATE TABLE "Contact" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "roomNumber" TEXT,
    "phone" TEXT NOT NULL,
    "language" "Language" NOT NULL,
    "checkinUrl" TEXT,
    "status" "ContactStatus" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contact_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageCategory" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "MessageCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Message" (
    "id" TEXT NOT NULL,
    "baseKey" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "language" "Language" NOT NULL,
    "content" TEXT NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Message_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Message_baseKey_idx" ON "Message"("baseKey");

-- CreateIndex
CREATE INDEX "Message_categoryId_order_idx" ON "Message"("categoryId", "order");

-- AddForeignKey
ALTER TABLE "Message" ADD CONSTRAINT "Message_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "MessageCategory"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

